.stripe {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    line-height: 50%;
}

.rounded-3 {
    border-radius: 8px;
}

small {
    font-size: 0.9em;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
td:focus {
    outline: none;
}

input[type=text] {
    border-radius: 0 !important;
}

input[type=text]:focus{
    border-bottom-color: rgb(103, 58, 183);
}

#helper {
    position:absolute;
}

table {
    float: left;
}

#sidebar {
    position:absolute;
    top: 50px;
}

#fields-table thead th {
    width: 45%;
}

.index {
    width: 10% !important;
}

#table-messsage {
    position: relative;
    bottom: 1rem;
}



